/* 定义一个变量 */
:root {
  --s: 10px;
}

.water-fall-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  column-gap: var(--s);
  /* 由于每一行的高度是固定的且很小，所以在视觉上，形成了瀑布流的效果 */
  grid-auto-rows: var(--s); /* 每一行的高度是固定的，所以使用grid-auto-rows */
  justify-content: center;
  padding: var(--s);
}

.item {
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}