.container-base {
    padding: 10px 0 10px 0;

}


.navbar-toggle[data-open="true"] {
    /* Styles for when the menu is open */
}

.toggle-navbarmenu {
    height: 20rem !important;
    box-shadow: 1px 1px 5px 1px rgba(240, 240, 240, 0.2) !important;
}